<style>
    #copyright{
        text-align: center;
        margin-bottom:0;
        bottom:0;
    }
</style>
<div id="copyright">
<span >&copy Copyright 2019 - Quentin BOURDONNEC & Matthias CLOUET</span>
</div>